/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
  $color-pack: false,
  $body-font-family: 'Open Sans',
  $heading-font-family: 'Open Sans',
  $font-size-root: 16px
);
